.wrap {
	display: grid;
	height: 230vh;
	grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
	grid-template-rows: 90px 90px 1fr 100px;
	grid-template-areas: 
	"clear1 banner banner clear2"
	"navbar navbar navbar navbar"
	"content content content content"
	"footer footer footer footer";
	gap: 0.2rem;
}

.banner{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 5px;
	grid-area: banner;
}
.banner img{
	box-shadow: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 728px;
	height: 90px;
}
.navbar{
	border: 2px solid;
	margin-top: 5px;
	background: #90EE90;
	grid-area: navbar;
	padding: 5px 10px;
}
.navbar li{
	height: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 20px;
}
.navbar .sidebar{
	background: whitesmoke;
	grid-area: sidebar;
	display: none;

}
.content{
	background: #FFFAF0;
	grid-area: content;
}
.footer {
	border: 2px solid;
	background: #90EE90;
	grid-area: footer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.footer p{
	font-family: "Lucida Console", "Courier New";
	font-size: 20px;
}
.navbar .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar .logo{
	border: none;
	width: 180px;
	height: 50px;
}
.navbar .logo img{
	width: 100%;
	height: 100%;
}
.navbar .menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;
}
.navbar li{
	padding-left: 0;
	margin-right: 10px;
}
.navbar a {
	border-style: none none solid none;
	border-width: 2px;
	padding: 10px;
	color: black;
	text-decoration: none;
	display: inline-block;
}
.navbar li a:hover{
	background-color: white;
}
.navbar .tombol{
	display: none;
	color: black;
	font-size: 14pt;			
}
.content .container{
	background: #FFFAF0;
	display: grid;
	height: 190vh;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 700px 0.2fr;
	grid-template-areas:
	"clear1 title title title title clear2"
	"clear3 card card card card clear4"
	"clear5 deskripsi deskripsi deskripsi deskripsi clear6";
	gap: 0.5rem;
}
.content .title {
	font-family: "Lucida Console", "Courier New", monospace;
	margin-top: 10px;
	grid-area: title;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	overflow: scroll;
	scrollbar-width: none;
}
.content .card {
	background: #FFFAF0;
	grid-area: card;
	border: 2px solid;
	border-radius: 2%;
	padding: 20px;
}

.content .card input{
	font-family: "Lucida Console", "Courier New", monospace;
	height: 20px;
	margin-bottom: 10px;
}
.content .card button{
	font-family: "Lucida Console", "Courier New", monospace;
	background: #90EE90;
	margin-left: 5px;
	height: 25px;
	margin-bottom: 10px;
	cursor: pointer;
}
.content .card button:hover{
	background: #FFFAF0;
}
.content .card .item {
	display: grid;
	height: 75vh;
	grid-template-columns: repeat(5,20%);
	grid-template-rows: repeat(2, 240px);
	grid-auto-flow: dense;
	gap: 4px;
}
.content .card .item-animes {
	display: grid;
	height: 75vh;
	grid-template-columns: repeat(5,20%);
	grid-template-rows: repeat(2, 240px);
	grid-auto-flow: dense;
	gap: 4px;
}
.content img {
	width: 150px;
	height: 150px;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	box-shadow: 3px 3px 3px lightblue;

}
.content .text{
	margin-top: 4px;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 10pt;
	font-weight: bold;
	width: 150px;
	height: 40px;
	text-align: center;
	overflow: scroll;
	scrollbar-width: none;
}
.content a{
	font-family: "Lucida Console", "Courier New", monospace;
	text-decoration: none;
	color: black;
}
.content a:hover{
	color: #90EE90;
}
.content .jam{
	margin-top: 8px;
	font-family: "Lucida Console", "Courier New", monospace;
	color: red;
	font-size: 12px;
	text-align: center;
}
.content .author{
	font-family: "Lucida Console", "Courier New", monospace;
	color: blue;
	font-weight: 500;
	font-size: 12px;
}
.pagination-container {
  align-items: left;
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  list-style: none;
  gap: 16px;
  padding: 0;
}
.pagination-page {
	font-family: "Lucida Console", "Courier New", monospace;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 700; 
  cursor: pointer;
}

.pagination-active > a {
  font-weight: bold;
  color: blue;
}
.pagination-next-prev {
	font-family: "Lucida Console", "Courier New", monospace;
	display: flex;
	padding: 0.75rem; 
	justify-content: center; 
	align-items: center; 
	font-size: 0.875rem;
	line-height: 1.25rem; 
	cursor: pointer;
}

.pagination-break {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  cursor: pointer; 
}
.video-container{
	display: grid;
	height: 90vh;
	grid-template-columns:1fr 1fr 4fr 4fr 1fr 1fr;
	grid-template-rows: 50px 450px 40px 40px 150px 350px;
	grid-template-areas:
	"clear1 title title title title clear2"
	"clear3 banner1 video video banner2 clear4"
	"clear5 banner1 link1 link1 banner2 clear6"
	"clear19 banner1 link2 link2 banner2 clear20"
	"clear11 clear12 nextprev nextprev clear13 clear14"
	"clear15 clear16 streamdes streamdes clear17 clear18";
	gap: 0.5rem;
}
.banner1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	grid-area: banner1;
	
	
	
	
}
.banner1 .ban1{
	box-shadow: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 130px;
}
.banner2{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	grid-area: banner2;
	
	
		
	
}
.banner2 .ban2{
	box-shadow: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 130px;
}
.banner3 {
	display: none;
}
.banner4 {
	display: none;
}
.video {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 700px;
	height: 400px;
	border: 2px solid;
	margin: 0 auto;
	padding: 10px;
	grid-area: video;
}
.video iframe {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.video-container .link-video1{
	margin-top: 10px;
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 15px;
	text-decoration: none;
	padding: 10px;
	grid-area: link1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}
.video-container .link-video1 h3{
	cursor: default;
}
.video-container .link-video1 button{
	font-family: "Lucida Console", "Courier New", monospace;
	border: 2px solid;
	width: 80px;
	justify-content: center;
	align-items: center;
	background: #90EE90;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.video-container .link-video1 button:hover{
	background: #FFFAF0;
}
.video-container .link-video2{
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 15px;
	text-decoration: none;
	padding: 10px;
	grid-area: link2;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}
.video-container .link-video2 h3{
	cursor: default;
}
.video-container .link-video2 button{
	font-family: "Lucida Console", "Courier New", monospace;
	border: 2px solid;
	width: 80px;
	justify-content: center;
	align-items: center;
	background: #90EE90;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.video-container .link-video2 button:hover{
	background: #FFFAF0;
}
.nextprev {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: larger;
	text-decoration: none;
	grid-area: nextprev;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 400px;
	
	
}
.nextprev a{
	border: 2px solid;
	justify-content: center;
	align-items: center;
	background: #90EE90;
	text-decoration: none;
	color: black;
}
.nextprev a:hover{
	background: #FFFAF0;
	border: 2px solid black;
}
.stream-deskripsi{
	grid-area: streamdes;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"strimg strtitle strtitle strtitle"
	"strimg strdes strdes strdes"
	"strgenre strdes strdes strdes";
}
.stream-deskripsi .imgdes {
	box-shadow: none;
	grid-area: strimg;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stream-deskripsi .imgdes img{
	box-shadow: none;
	border: 2px solid;
}
.stream-deskripsi .genrestatus{
	font-family: "Lucida Console", "Courier New";
	padding: 10px;
	grid-area: strgenre;
	justify-content: center;
	align-items: center;
}
.stream-deskripsi h3{
	font-family: "Lucida Console", "Courier New";
	padding: 10px;
	border: 2px solid;
	grid-area: strtitle;
	display: flex;
	justify-content: center;
	text-align: center;
	overflow: scroll;
	scrollbar-width: none;
}
.stream-deskripsi text {
	font-family: "Lucida Console", "Courier New";
	padding: 10px;
	border: 2px solid;
	grid-area: strdes;
	display: flex;
	justify-content: center;
	text-align: justify;
	font-size: 15px;
	overflow: scroll;
	scrollbar-width: none;
}
.deskripsi {
	margin-top: 10px;
	grid-area: deskripsi;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"desimg destitle destitle destitle"
	"desimg deskripsi deskripsi deskripsi"
	"genre deskripsi deskripsi deskripsi";
}
.deskripsi .imgdesanime {
	box-shadow: none;
	padding: 10px;
	grid-area: desimg;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.deskripsi .imgdesanime img{
	box-shadow: none;
	border: 2px solid;
}
.deskripsi .genrestatus{
	font-family: "Lucida Console", "Courier New";
	padding: 10px;
	grid-area: genre;
}
.deskripsi h3{
	font-family: "Lucida Console", "Courier New";
	padding: 10px;
	font-size: 20px;
	border: 2px solid;
	grid-area: destitle;
	display: flex;
	justify-content: center;
	text-align: center;
	overflow: scroll;
	scrollbar-width: none;
}
.deskripsi text {
	font-family: "Lucida Console", "Courier New";
	padding: 10px;
	border: 2px solid;
	grid-area: deskripsi;
	display: flex;
	justify-content: center;
	text-align: justify;
	font-size: 15px;
	overflow: scroll;
	scrollbar-width: none;
}
.genre-container {
	display: grid;
	height: 190vh;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 50px 300px 120px;
	grid-template-areas: 
	"clear1 title title title title clear4"
	"clear5 search search search search clear8"
	"clear9 list list list list clear12"
	"clear13 gencon gencon gencon gencon clear14";
}
.genre-container .genre-title{
	margin-top: 10px;
	grid-area: title;
	font-family: "Lucida Console", "Courier New", monospace;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}
.genre-container .search{
	grid-area: search;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.genre-container input{
	font-family: "Lucida Console", "Courier New", monospace;
	height: 20px;
}
.genre-container button{
	font-family: "Lucida Console", "Courier New", monospace;
	background: #90EE90;
	margin-left: 5px;
	height: 25px;
	margin-bottom: 10px;
	cursor: pointer;
}
.genre-container button:hover{
	background: #FFFAF0;
}
.genre-container .list {
	border: 2px solid;
	border-radius: 2%;
	padding: 10px;
	grid-area: list;
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(4, 200px);
	grid-template-rows: repeat(5, 50px);
}

.list li{
	font-family: "Lucida Console", "Courier New", monospace;
	width: 150px;
	height: 30px;
	list-style: none;
	border: 2px solid;
	background: #90EE90;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list li:hover{
	background: #FFFAF0;
}
.genre-paginate{
	grid-area: gencon;
	margin-top: 10px;
}
.genre-paginate p{
	margin-left: 20px;
}
.genre-container .pagination-container {
  align-items: left;
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  list-style: none;
  gap: 16px;
  padding: 0;
}
.genre-container .pagination-page {
	font-family: "Lucida Console", "Courier New", monospace;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  font-weight: 700; 
  cursor: pointer;
}

.genre-container .pagination-active > a {
  font-weight: bold;
  color: blue;
}
.genre-container .pagination-next-prev {
	font-family: "Lucida Console", "Courier New", monospace;
	display: flex;
	padding: 0.75rem; 
	justify-content: center; 
	align-items: center; 
	font-size: 0.875rem;
	line-height: 1.25rem; 
	cursor: pointer;
}

.genre-container .pagination-break {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
  cursor: pointer; 
}

/* Responsive Breakpoints */
@media screen and (max-width: 1114px){
	.wrap {
		height: 300vh;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 110px 70px 1fr 100px;
	}
	.content{
		grid-area: content;
	}
	.content .container{
		height: 260vh;
		grid-template-rows: 50px 1000px 0.2fr;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(4, 170px);
		grid-template-rows: repeat(3, 240px);
	}
	.content img {
		width: 150px;
		height: 150px;

	}
	.genre-container .list {
		grid-template-columns: repeat(4, 160px);
		grid-template-rows: repeat(5, 50px);
	}
	.list li{
		font-family: "Lucida Console", "Courier New", monospace;
		width: 130px;
		height: 30px;
		list-style: none;
		border: 2px solid;
		background: #90EE90;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.deskripsi .genrestatus p {
		font-size: 13px;
	}
	.stream-deskripsi .genrestatus p{
		font-size: 13px;
	}
}
@media screen and (max-width: 884px){
	.wrap {
		height: 500vh;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 110px 90px 1fr 100px;
		grid-template-areas: 
		"clear1 banner banner clear2"
		"navbar navbar navbar navbar"
		"content content content content"
		"footer footer footer footer";
	}
	.banner{
		width: 730px;
	}
	.content{
		grid-area: content;
	}
	.content .container{
		height: 495vh;
		grid-template-columns:0.5fr 2fr 2fr 2fr 2fr 0.5fr;
		grid-template-rows: 70px 1800px 0.2fr;
	}
	.content .title {
		font-size: 40px;
	}
	.content .text{
		height: 50px;
	}
	.genre-container .genre-title {
		font-size: 40px;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(3, 240px);
		grid-template-rows: repeat(3, 360px);
	}
	.content .card .item-animes{
		height: 110vh;
		grid-template-columns: repeat(3, 240px);
		grid-template-rows: repeat(3, 330px);
	}
	.content .card input{
		font-family: "Lucida Console", "Courier New", monospace;
		height: 30px;
		margin-bottom: 20px;
		font-size: large;
	}
	.content .item-animes .text{
		font-size: 25px;
		width: 210px;
		justify-content: center;
		text-align: center;
	}
	.content .card button{
		font-family: "Lucida Console", "Courier New", monospace;
		background: #90EE90;
		margin-left: 5px;
		height: 30px;
		font-size: large;
		margin-bottom: 10px;
		cursor: pointer;
	}
	.content img {
		width: 220px;
		height: 220px;
	}
	.content .text{
		margin-top: 4px;
		font-family: "Lucida Console", "Courier New", monospace;
		font-size: 20px;
		font-weight: bold;
		width: 200px;
		text-align: center;
		
	}
	.content a:hover{
		color: #2e6b2e;
	}
	.content .jam{
		margin-top: 8px;
		font-family: "Lucida Console", "Courier New", monospace;
		color: red;
		font-size: 20px;
		width: 200px;
		text-align: center;
	}
	.content .author{
		font-family: "Lucida Console", "Courier New", monospace;
		color: blue;
		font-weight: 500;
		font-size: 20px;
		width: 200px;
		text-align: start;
	}
	.genre-container .list {
		grid-template-columns: repeat(4, 160px);
		grid-template-rows: repeat(5, 50px);
	}
	.content p {
		font-family: "Lucida Console", "Courier New", monospace;
		position: absolute;
		top: 1900px;
		left: 26%;
		font-size: 25px;
	}
	.pagination {
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 1800px;
		left: 215px;
	}
	.pagination-page {
		font-size: 30px; 
	}
	.pagination-break { 
		font-size: 30px;
	}
	.pagination-next-prev {
		border: 2px solid black;
		background: #90EE90;
		font-size: 30px;
	}
	.list li{
		font-family: "Lucida Console", "Courier New", monospace;
		width: 130px;
		height: 30px;
		list-style: none;
		border: 2px solid;
		background: #90EE90;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.deskripsi .genrestatus p {
		font-size: 13px;
	}
	.stream-deskripsi .genrestatus p{
		font-size: 13px;
	}
	.genre-container {
		height: 495vh;
		grid-template-columns: 10px 2fr 2fr 2fr 2fr 10px;
		grid-template-rows: 70px 50px 380px 120px;
	}
	.genre-container .list {
		grid-template-columns: repeat(4, 187px);
		grid-template-rows: repeat(5, 55px);
		gap: 10px;
	}
	.list li{
		font-family: "Lucida Console", "Courier New", monospace;
		width: 150px;
		height: 50px;
		list-style: none;
		border: 2px solid;
		background: #90EE90;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.list li a{
		font-size: 20px;
		text-align: center;
	}
	.genre-container p {
		font-family: "Lucida Console", "Courier New", monospace;
		position: absolute;
		top: 850px;
		left: 26%;
		font-size: 25px;
	}
	.genre-container .pagination {
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 750px;
		left: 32%;
	}
	.genre-container .pagination-page {
		font-size: 30px; 
	}
	.genre-container .pagination-break { 
		font-size: 30px;
	}
	.genre-container .pagination-next-prev {
		border: 2px solid black;
		background: #90EE90;
		font-size: 30px;
	}
	.genre-container .search{
		grid-area: search;
		margin-top: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}
	.genre-container input{
		font-family: "Lucida Console", "Courier New", monospace;
		height: 30px;
		font-size: large;
	}
	.genre-container button{
		font-family: "Lucida Console", "Courier New", monospace;
		background: #90EE90;
		margin-left: 5px;
		height: 30px;
		font-size: large;
		margin-bottom: 10px;
		cursor: pointer;
	}
	.video-container{
		display: grid;
		height: 495vh;
		grid-template-columns:0.2fr 1fr 1fr 1fr 1fr 0.2fr;
		grid-template-rows: 70px 100px 400px 100px 40px 40px 40px 200px;
		grid-template-areas:
		"title title title title title title"
		"clear1 banner3 banner3 banner3 banner3 clear2"
		"video video video video video video"
		"clear4 banner4 banner4 banner4 banner4 clear5"
		"link1 link1 link1 link1 link1 link1"
		"link2 link2 link2 link2 link2 link2"
		"nextprev nextprev nextprev nextprev nextprev nextprev"
		"streamdes streamdes streamdes streamdes streamdes streamdes";
		gap: 0.5rem;
	}
		
	.nextprev a{
		border: 2px solid;
		font-size: larger;
		justify-content: center;
		align-items: center;
		background: #90EE90;
		text-decoration: none;
		color: black;
	}
	.banner1{
		display: none;
	}
	.banner2{
		display: none;
	}
	.banner3{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		grid-area: banner3;
	}
	.banner3 .ban3{
		box-shadow: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 728px;
		height: 90px;
	}
	.banner4{
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		grid-area: banner4;
	}
	.banner4 .ban4{
		box-shadow: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 728px;
		height: 90px;
	}
	.video-container .link-video1 {
		margin-top: 30px;
		font-size: larger;
	}
	.video-container .link-video1 button{
		font-size: larger;
	}
	.video-container .link-video2 {
		margin-top: 20px;
		font-size: larger;
	}
	.video-container .link-video2 button{
		font-size: larger;
	}
	.nextprev {
		margin-top: 20px;
		font-size: larger;
		gap: 200px;	
	}
	.stream-deskripsi{
		height: 800px;
		grid-area: streamdes;
		margin-top: 10px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 1fr 100px 100px 1fr;
		grid-template-areas: 
		"strimg strimg strimg strimg strimg strimg"
		"strtitle strtitle strtitle strtitle strtitle strtitle"
		"strgenre strgenre strgenre strgenre strgenre strgenre"
		"strdes strdes strdes strdes strdes strdes"
	}
	.stream-deskripsi .imgdes{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}
	.stream-deskripsi h3{
		font-size: 30px;
	}
	.stream-deskripsi .genrestatus{
		display: inline-flex;
		justify-content: space-evenly;
		text-align: center;
		font-size: larger;
		grid-area: strgenre;
	}
	.stream-deskripsi text {
		grid-area: strdes;
		justify-content: center;
		text-align: justify;
		font-size: larger;
	}
	.deskripsi {
		margin-top: 10px;
		grid-area: deskripsi;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 100px 100px 1fr;
		grid-template-areas:
		"clear1 clear2 desimg desimg clear3 clear4 " 
		"destitle destitle destitle destitle destitle destitle"
		"genre genre genre genre genre genre"
		"deskripsi deskripsi deskripsi deskripsi deskripsi deskripsi";
	}
	.deskripsi img{
		margin-top: 5px;
	}
	.deskripsi h3{
		font-size: 30px;
		height: 40px;
	}
	.genrestatus{
		display: inline-flex;
		justify-content: space-evenly;
		text-align: center;
		font-size: larger;
		grid-area: strgenre;
	}
	.deskripsi text {
		font-size: larger;
	}

	

}
@media screen and (max-width: 834px){
	.content .container{
		grid-template-columns:0.5fr 2fr 2fr 2fr 2fr 0.5fr;
		grid-template-rows: 70px 1800px 0.2fr;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(3, 220px);
		grid-template-rows: repeat(3, 350px);
	}
	.content .card .item-animes{
		height: 110vh;
		grid-template-columns: repeat(3, 220px);
		grid-template-rows: repeat(3, 330px);
	}
	.genre-container .list {
		grid-template-columns: repeat(4, 170px);
		grid-template-rows: repeat(5, 55px);
		gap: 10px;
	}
	.genre-container p {
		font-family: "Lucida Console", "Courier New", monospace;
		position: absolute;
		top: 850px;
		left: 23%;
		font-size: 25px;
	}
	.genre-container .pagination {
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 750px;
		left: 240px;
	}
}
@media screen and (max-width: 820px){
	.content .container{
		grid-template-columns:0.3fr 2fr 2fr 2fr 2fr 0.3fr;
		grid-template-rows: 70px 1800px 0.2fr;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(3, 230px);
		grid-template-rows: repeat(3, 350px);
	}
	.genre-container .list {
		grid-template-columns: repeat(4, 165px);
		grid-template-rows: repeat(5, 55px);
		gap: 10px;
	}
}
@media screen and (max-width: 800px){
	.content .container{
		grid-template-columns:0.3fr 2fr 2fr 2fr 2fr 0.3fr;
		grid-template-rows: 70px 1800px 0.2fr;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(3, 220px);
		grid-template-rows: repeat(3, 350px);
	}
	.genre-container .list {
		grid-template-columns: repeat(4, 160px);
		grid-template-rows: repeat(5, 55px);
		gap: 10px;
	}
}
@media screen and (max-width: 768px){
	.content .container{
		grid-template-columns:0.3fr 2fr 2fr 2fr 2fr 0.3fr;
		grid-template-rows: 70px 1800px 0.2fr;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(3, 205px);
		grid-template-rows: repeat(3, 350px);
	}
	.content .card .item-animes{
		height: 110vh;
		grid-template-columns: repeat(3, 205px);
		grid-template-rows: repeat(3, 330px);
	}
	.genre-container .list {
		grid-template-columns: repeat(4, 150px);
		grid-template-rows: repeat(5, 55px);
		gap: 10px;
	}
}

@media screen and (max-width: 428px){
	.wrap {
		width: 99.5%;
		height: 100%;
		display: grid;
		grid-template-columns: 50px 150px 150px 50px;
		grid-template-rows: 90px 90px 1fr 100px;
		grid-template-areas: 
		"clear1 banner banner clear2"
		"navbar navbar navbar navbar"
		"content content content content"
		"footer footer footer footer";
		gap: 0.2rem;
	}
	.banner{
		width: 100%;
	}
	.banner img{
		box-shadow: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
		height: 80px;
	}
	.navbar .menu{
		display: none;
	}
	.navbar .tombol{
		display: block;
		border: none;
	}
	.navbar .menu.aktif{
		border-style:solid none solid none;
		border-width: 2px;
		display:block;
		position: absolute;
		top: 195px;
		background: #90EE90;
		padding: 10px 20px;
		right: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.navbar .menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: none;
	}
	.content .container{
		height: 595vh;
		grid-template-columns:5px 95px 100px 100px 95px 5px;
		grid-template-rows: 70px 2200px 0.2fr;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(2, 180px);
		grid-template-rows: repeat(5, 360px);
	}
	.content .title{
		font-size: 20px;
		width: 350px;
	}
	.content .card{
		width: 335px;
	}
	.content img{
		width: 150px;
		height: 150px;
	}
	.content .text{
		margin-top: 4px;
		font-size: 20px;
		font-weight: bold;
		width: 150px;
		height: 100px;
		text-align: center;
		overflow: scroll;
		
	}
	.content .jam{
		margin-top: 8px;
		font-size: 20px;
		width: 150px;
		text-align: center;
	}
	.content .author{
		margin-top: 10px;
		font-weight: 500;
		font-size: 20px;
		width: 150px;
		text-align: start;
	}
	.content p {
		font-family: "Lucida Console", "Courier New", monospace;
		position: absolute;
		top: 2300px;
		left: 8%;
		width: 350px;
		text-align: center;
		font-size: 18px;
	}
	.pagination {
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 2200px;
		left: 11%;
	}
	.pagination-page {
		font-size: 20px; 
	}
	.pagination-break { 
		font-size: 20px;
	}
	.pagination-next-prev {
		border: 2px solid black;
		background: #90EE90;
		font-size: 20px;
	}
	.content .card .item-animes{
		height: 110vh;
		grid-template-columns: repeat(2, 180px);
		grid-template-rows: repeat(5, 320px);
	}
	.content .item-animes .text{
		font-size: 20px;
		width: 150px;
		justify-content: center;
		text-align: center;
	}
	.deskripsi {
		margin-top: 10px;
		grid-area: deskripsi;
		display: grid;
		grid-template-columns: 5px 95px 100px 100px 95px 5px;
		grid-template-rows: 200px 100px 100px 1fr;
	}
	.deskripsi h3{
		width: 355px;
		font-size: 23px;
	}
	.deskripsi .genrestatus{
		width: 355px;
	}
	.deskripsi text{
		width: 355px;
	}
	.genre-container {
		height: 595vh;
		grid-template-columns: 10px 2fr 2fr 2fr 2fr 10px;
		grid-template-rows: 70px 50px 510px 120px;
	}
	.genre-container .genre-title{
		font-size: 20px;
		width: 360px;
	}
	.genre-container .list {
		grid-template-columns: repeat(2, 150px);
		grid-template-rows: repeat(10, 35px);
		gap: 10px;
	}
	.list li{
		width: 120px;
		height: 30px;
		list-style: none;
		border: 2px solid;
		background: #90EE90;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.list li a{
		font-size: 14px;
		text-align: center;
	}
	.genre-container p {
		font-family: "Lucida Console", "Courier New", monospace;
		position: absolute;
		top: 950px;
		left: 4%;
		width: 350px;
		text-align: center;
		font-size: 18px;
	}
	.genre-container .pagination {
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 850px;
		left: 21%;
	}
	.genre-container .pagination-page {
		font-size: 20px; 
	}
	.genre-container .pagination-break { 
		font-size: 20px;
	}
	.genre-container .pagination-next-prev {
		border: 2px solid black;
		background: #90EE90;
		font-size: 20px;
	}
	.video-container{
		display: grid;
		height: 595vh;
		grid-template-columns:5px 95px 100px 100px 95px 5px;
		grid-template-rows: 70px 100px 200px 100px 40px 40px 40px 200px;
	}
	.video-container .title{
		width: 385px;
	}
	.banner3{

		width: 93%;
	}
	.banner3 a{
		width: 400px;

	}
	.banner3 a .ban3{
		width: 400px;
		height: 90px;
	}
	.banner4{

		width: 93%;
	}
	.banner4 a{
		width: 400px;

	}
	.banner4 a .ban4{
		width: 400px;
		height: 90px;
	}
	.video-container .video{
		margin-left:20px;
		width: 350px;
		height: 200px;
	}
	.video-container .video iframe{
		width: 350px;
		height: 200px;
	}
	.link-video1 {
		width: 400px;
	}
	.link-video2 {
		width: 400px;
	}
	.nextprev{
		width: 410px;
		font-size: medium;
		gap: 100px;
	}
	.stream-deskripsi .imgdes{
		width: 410px;
	}
	.stream-deskripsi h3{
		width: 390px;
		height: 30px;
	}
	.stream-deskripsi .genrestatus{
		width: 390px;
	}
	.stream-deskripsi text {
		width: 390px;
	}
	
}
@media screen and (max-width: 414px){
	.wrap {
		width: 99%;
		height: 100%
	}
	.banner{
		margin: 0;
		width: 95%;
	}
	.banner img{
		box-shadow: none;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 400px;
		height: 80px;
	}
	.navbar{
		width: 90.5%;
	}
	.navbar .menu{
		display: none;
	}
	.navbar .tombol{
		display: block;
		border: none;
	}
	.navbar .menu.aktif{
		border-style:solid none solid none;
		border-width: 2px;
		display:block;
		position: absolute;
		top: 195px;
		background: #90EE90;
		padding: 10px 20px;
		right: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.navbar .menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: none;
	}
	.content{
		width: 96.3%;
	}
	.content .card .item{
		height: 110vh;
		grid-template-columns: repeat(2, 165px);
		grid-template-rows: repeat(5, 360px);
	}
	.content .title{
		margin-left: 0;
		font-size: 20px;
		width: 82%;
	}
	.content .card{
		margin-left: 0;
		width: 77.5%;
	}
	.content img{
		width: 150px;
		height: 150px;
	}
	.content .text{
		margin-top: 4px;
		font-size: 20px;
		font-weight: bold;
		width: 150px;
		height: 100px;
		text-align: center;
		overflow: scroll;
		
	}
	.content .jam{
		margin-top: 8px;
		font-size: 20px;
		width: 150px;
		text-align: center;
	}
	.content .author{
		margin-top: 10px;
		font-weight: 500;
		font-size: 20px;
		width: 150px;
		text-align: start;
	}
	.content p {
		font-family: "Lucida Console", "Courier New", monospace;
		position: absolute;
		top: 2300px;
		left: 7%;
		width: 350px;
		text-align: center;
		font-size: 18px;
	}
	.pagination {
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 2200px;
		left: 10%;
	}
	.pagination-page {
		font-size: 20px; 
	}
	.pagination-break { 
		font-size: 20px;
	}
	.pagination-next-prev {
		border: 2px solid black;
		background: #90EE90;
		font-size: 20px;
	}
	.content .card .item-animes{
		height: 110vh;
		grid-template-columns: repeat(2, 165px);
		grid-template-rows: repeat(5, 320px);
	}
	.content .item-animes .text{
		font-size: 20px;
		width: 150px;
		justify-content: center;
		text-align: center;
	}
	.deskripsi {
		margin-top: 10px;
		grid-area: deskripsi;
		display: grid;
		grid-template-columns: 5px 95px 100px 100px 95px 5px;
		grid-template-rows: 200px 100px 100px 1fr;
	}
	.deskripsi .imgdesanime{
		width: 71%;
	}
	.deskripsi h3{
		width: 85%;
		font-size: 23px;
	}
	.deskripsi .genrestatus{
		width: 85%;
	}
	.deskripsi text{
		width: 85%;
	}
	.genre-container {
		height: 595vh;
		grid-template-columns: 10px 2fr 2fr 2fr 2fr 10px;
		grid-template-rows: 70px 50px 510px 120px;
	}
	.genre-container .genre-title{
		font-size: 20px;
		width: 94%;
	}
	.genre-container .list {
		grid-template-columns: repeat(2, 135px);
		grid-template-rows: repeat(10, 35px);
		gap: 10px;
	}
	.list li{
		width: 120px;
		height: 30px;
		list-style: none;
		border: 2px solid;
		background: #90EE90;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.list li a{
		font-size: 14px;
		text-align: center;
	}
	.genre-container p {
		font-family: "Lucida Console", "Courier New", monospace;
		position: absolute;
		top: 950px;
		left: 4%;
		width: 350px;
		text-align: center;
		font-size: 18px;
	}
	.genre-container .pagination {
		position: absolute;
		justify-content: center;
		align-items: center;
		top: 850px;
		left: 21%;
	}
	.genre-container .pagination-page {
		font-size: 20px; 
	}
	.genre-container .pagination-break { 
		font-size: 20px;
	}
	.genre-container .pagination-next-prev {
		border: 2px solid black;
		background: #90EE90;
		font-size: 20px;
	}
	.video-container{
		display: grid;
		height: 595vh;
		grid-template-columns:5px 95px 100px 100px 95px 5px;
		grid-template-rows: 70px 100px 200px 100px 40px 40px 40px 200px;
	}
	.video-container .title{
		width: 84.2%;
	}
	.banner3{

		width: 89%;
	}
	.banner3 a{
		width: 400px;

	}
	.banner3 a .ban3{
		width: 400px;
		height: 90px;
	}
	.banner4{

		width: 89%;
	}
	.banner4 a{
		width: 400px;

	}
	.banner4 a .ban4{
		width: 400px;
		height: 90px;
	}
	.video-container .video{
		margin-left:20px;
		width: 75%;
		height: 200px;
	}
	.video-container .video iframe{
		width: 350px;
		height: 200px;
	}
	.link-video1 {
		width: 85%;
	}
	.link-video1 h3{
		text-align: center;
		font-size: large;
	}
	.link-video2 {
		width: 85%;
	}
	.link-video2 h3{
		text-align: center;
		font-size: large;
	}
	.nextprev{
		width: 89.7%;
		font-size: medium;
		gap: 100px;
	}
	.stream-deskripsi .imgdes{
		width: 91%;
	}
	.stream-deskripsi h3{
		width: 84.3%;
		height: 30px;
	}
	.stream-deskripsi .genrestatus{
		width: 84.3%;
	}
	.stream-deskripsi text {
		width: 84.3%;
	}
	.footer{
		width: 90.5%;
	}
	
}
@media screen and (max-width: 390px){
	.wrap{
		width: 100%;
	}
	.banner{
		margin-left: -4%;
		width: 96%;
	}
	.banner img{
		width: 350px;
	}
	.navbar{
		width: 85.5%;
	}
	.content{
		width: 90.5%;
	}
	.content .container{
		width: 100%;
	}
	.content .title{
		margin-left: -1%;
		width: 79.5%;
	}
	.content .card input{
		width: 65%;
	}
	.content .card{
		margin-left: -1%;
		width: 75%;
	}
	.content img{
		width: 150px;
	}
	.content .card .item{
		grid-template-columns: repeat(2, 157px);
	}
	.content .text{
		width: 150px;
	}
	.content .jam{
		width: 150px;
	}
	.content .author{
		width: 150px;
	}
	.pagination {
		left: 9%;
	}
	.pagination-next-prev{
		font-size: 18px;
	}
	.content p{
		left: 5%;
	}
	.content .card .item-animes{
		grid-template-columns: repeat(2, 157px);
	}
	.content .card .item-animes .text{
		width: 150px;
	}
	.deskripsi .imgdesanime{
		width: 60%;
	}
	.deskripsi h3{
		width: 80%;
	}
	.deskripsi .genrestatus{
		width: 80%;
	}
	.deskripsi text{
		width: 80%;
	}
	.genre-container{
		width: 100%;
	}
	.genre-container .genre-title{
		width: 93%;
	}
	.genre-container .search input{
		width: 65%;
	}
	.genre-container .list{
		grid-template-columns: repeat(2, 140px);
	}
	.list li{
		margin-left: -14px;
	}
	.genre-container p{
		left: -1%;
	}
	.genre-container .pagination-next-prev{
		font-size: 18px;
	}
	.genre-container .pagination{
		left: 20%;
	}
	.video-container{
		width: 100%;
	}
	.video-container .title{
		width: 80.5%;
	}
	.banner3{
		margin-left: -2%;
		width: 80%;
	}
	.banner3 a{
		width: 100%;
		height: 100%;
	}
	.banner3 a .ban3{
		width: 360px;
	}
	.banner4{
		margin-left: -2%;
		width: 80%;
	}
	.banner4 a{
		width: 100%;
		height: 100%;
	}
	.banner4 a .ban4{
		width: 360px;
	}
	.video-container .video{
		width: 70%;
	}
	.link-video1{
		width: 80%;
	}
	.link-video1 h3{
		margin-top: 23px;
		text-align: center;
		font-size: large;
		width: 160px;
	}
	.link-video2{
		width: 80%;
	}
	.link-video2 h3{
		margin-top: 23px;
		text-align: center;
		font-size: large;
		width: 160px;
	}
	.nextprev{
		width: 84.3%;
		font-size: large;
		gap: 20px;
	}
	.stream-deskripsi .imgdes{
		width: 85%;
	}
	.stream-deskripsi h3{
		width: 79%;
	}
	.stream-deskripsi .genrestatus{
		width: 79%;
	}
	.stream-deskripsi text {
		width: 79%;
	}


	.footer{
		width: 85.7%;
	}
}
@media screen and (max-width: 375px){
	.wrap{
		width: 100%;
	}
	.banner{
		margin: 0;
		width: 83%;
	}
	.banner img{
		width: 350px;
	}
	.navbar{
		width: 82%;
	}
	.content{
		width: 87%;
	}
	.content .container{
		width: 100%;
	}
	.content .title{
		margin-left: 0;
		width: 74%;
	}
	.content .card input{
		width: 65%;
	}
	.content .card{
		margin-left: 0;
		width: 69%;
	}
	.content img{
		width: 140px;
	}
	.content .card .item{
		grid-template-columns: repeat(2, 142px);
	}
	.deskripsi .imgdesanime{
		width: 57%;
	}
	.deskripsi h3{
		width: 77%;
	}
	.deskripsi .genrestatus{
		width: 77%;
	}
	.deskripsi text{
		width: 77%;
	}
	.content .text{
		width: 140px;
	}
	.content .jam{
		width: 140px;
	}
	.content .author{
		width: 140px;
	}
	.pagination {
		left: 8.5%;
	}
	.pagination-next-prev{
		font-size: 16.3px;
	}
	.content p{
		left: 3%;
	}
	.content .card .item-animes{
		grid-template-columns: repeat(2, 142px);
	}
	.content .card .item-animes .text{
		width: 140px;
	}
	.genre-container{
		width: 100%;
	}
	.genre-container .genre-title{
		width: 92.5%;
	}
	.genre-container .search input{
		width: 65%;
	}
	.genre-container .list{
		grid-template-columns: repeat(2, 140px);
	}
	.list li{
		margin-left: -20px;
	}
	.genre-container p{
		left: -2%;
	}
	.genre-container .pagination-next-prev{
		font-size: 17.5px;
	}
	.genre-container .pagination{
		left: 20%;
	}
	.video-container{
		width: 100%;
	}
	.video-container .title{
		width: 75.5%;
	}
	.banner3{
		margin-left: -2.5%;
		width: 84.5%;
	}
	.banner3 a{
		width: 100%;
		height: 100%;
	}
	.banner3 a .ban3{
		width: 350px;
	}
	.banner4{
		margin-left: -2.5%;
		width: 84.5%;
	}
	.banner4 a{
		width: 100%;
		height: 100%;
	}
	.banner4 a .ban4{
		width: 350px;
	}
	.video-container .video{
		width: 66.8%;
	}
	.link-video1{
		width: 75.5%;
	}
	.link-video1 h3{
		margin-top: 30px;
		text-align: center;
		font-size: large;
		width: 160px;
	}
	.link-video2{
		width: 75.5%;
	}
	.link-video2 h3{
		margin-top: 30px;
		text-align: center;
		font-size: large;
		width: 160px;
	}
	.nextprev{
		width: 81%;
		font-size: large;
		gap: 20px;
	}
	.stream-deskripsi .imgdes{
		width: 82%;
	}
	.stream-deskripsi h3{
		width: 75.5%;
	}
	.stream-deskripsi .genrestatus{
		width: 75.5%;
	}
	.stream-deskripsi text {
		width: 75.5%;
	}



	.footer{
		width: 82%;
	}
}
@media screen and (max-width: 360px){
	.wrap{
		width: 100%;
	}
	.banner{
		margin: 0;
		width: 78.5%;
	}
	.banner img{
		width: 350px;
	}
	.navbar{
		width: 78.1%;
	}
	.content{
		width: 83%;
	}
	.content .container{
		width: 100%;
	}
	.content .title{
		margin-left: 0;
		width: 70%;
	}
	.content .card input{
		width: 64%;
	}
	.content .card{
		margin: 0;
		width: 65%;
	}
	.content img{
		width: 130px;
		height: 130px;
	}
	.content .card .item{
		grid-template-columns: repeat(2, 134px);
	}
	.deskripsi .imgdesanime{
		width: 50%;
	}
	.deskripsi h3{
		width: 72.5%;
	}
	.deskripsi .genrestatus{
		width: 72.5%;
	}
	.deskripsi text{
		width: 72.5%;
	}
	.content .text{
		width: 130px;
	}
	.content .jam{
		width: 130px;
	}
	.content .author{
		width: 130px;
	}
	.pagination {
		left: 8.5%;
	}
	.pagination-next-prev{
		font-size: 14px;
	}
	.content p{
		left: 1%;
	}
	.content .card .item-animes{
		grid-template-columns: repeat(2, 134px);
	}
	.content .card .item-animes .text{
		width: 130px;
	}
	.genre-container{
		width: 100%;
	}
	.genre-container .genre-title{
		width: 92.5%;
	}
	.genre-container .search input{
		width: 64%;
	}
	.genre-container .list{
		grid-template-columns: repeat(2, 125px);
	}
	.list li{
		margin-left: -20px;
	}
	.genre-container p{
		left: -4%;
	}
	.genre-container .pagination-next-prev{
		font-size: 17.5px;
	}
	.genre-container .pagination{
		left: 18%;
	}
	.video-container{
		width: 100%;
	}
	.video-container .title{
		width: 72%;
	}
	.banner3{
		width: 71%;
	}
	.banner4{
		width: 71%;
	}
	.video-container .video{
		width: 63%;
	}
	.link-video1{
		width: 72%;
	}
	.link-video1 h3{
		margin-top: 30px;
		text-align: center;
		font-size: large;
		width: 160px;
	}
	.link-video2{
		width: 72%;
	}
	.link-video2 h3{
		margin-top: 30px;
		text-align: center;
		font-size: large;
		width: 160px;
	}
	.nextprev{
		width: 77.5%;
		font-size: large;
		gap: 20px;
	}
	.stream-deskripsi .imgdes{
		width: 78%;
	}
	.stream-deskripsi h3{
		width: 72%;
	}
	.stream-deskripsi .genrestatus{
		width: 72%;
	}
	.stream-deskripsi text {
		width: 72%;
	}



	.footer{
		width: 78.1%;
	}
}
@media screen and (max-width: 320px){
	.wrap{
		border: 2px solid red;
		width: 100%;
	}
	.banner{
		margin: 0;
		width: 65%;
	}
	.banner img{
		width: 300px;
	}
	.navbar{
		width: 68.5%;
	}
	.content{
		width: 73.5%;
	}
	.content .container{
		width: 100%;
		grid-template-columns:5px 95px 100px 100px 95px 5px;
		grid-template-rows: 70px 2000px 0.2fr;
	}
	.content .title{
		margin-left: 0;
		width: 61%;
	}
	.content .card input{
		width: 50%;
		font-size: 12px;
	}
	.content .card{
		margin: 0;
		width: 56%;
	}
	.content img{
		width: 110px;
		height: 110px;
	}
	.content .card .item{
		grid-template-columns: repeat(2, 115px);
		grid-template-rows: repeat(5, 320px);
	}
	.deskripsi .imgdesanime{
		width: 50%;
	}
	.deskripsi h3{
		width: 72.5%;
	}
	.deskripsi .genrestatus{
		width: 72.5%;
	}
	.deskripsi text{
		width: 72.5%;
	}
	.content .text{
		width: 110px;
		font-size: medium;
	}
	.content .jam{
		width: 110px;
		font-size: 18px;
	}
	.content .author{
		width: 110px;
	}
	.pagination {
		top: 2000px;
		left: 11.5%;
	}
	.pagination-next-prev{
		width: 20px;
		height: 10px;
		font-size: 12px;
		
	}
	.content p{
		top: 2080px;
		left: -4%;
		font-size: medium;
	}
	.content .card .item-animes{
		grid-template-columns: repeat(2, 115px);
		grid-template-rows: repeat(5, 260px);
	}
	.content .card .item-animes .text{
		width: 110px;
		font-size: medium;
	}
	.genre-container{
		width: 100%;
	}
	.genre-container .genre-title{
		width: 92.5%;
	}
	.genre-container .search input{
		width: 50%;
		font-size: 12px;
	}
	.genre-container .list{
		grid-template-columns: repeat(2, 125px);
	}
	.list li{
		margin-left: -36px;
		width: 110px;
	}
	.genre-container p{
		top: 900px;
		left: -10%;
	}
	.genre-container .pagination-next-prev{
		font-size: 12px;
	}
	.genre-container .pagination{
		left: 26%;
	}
	.video-container{
		width: 100%;
	}
	.video-container .title{
		width: 63.8%;
	}
	.banner3{
		margin-left: -2.5%;
		width: 84.5%;
	}
	.banner3 a{
		width: 100%;
		height: 100%;
	}
	.banner3 a .ban3{
		width: 295px;
	}
	.banner4{
		margin-left: -2.5%;
		width: 84.5%;
	}
	.banner4 a{
		width: 100%;
		height: 100%;
	}
	.banner4 a .ban4{
		width: 295px;
	}
	.video-container .video{
		width: 55%;
	}
	.video-container .video iframe{
		width: 100%;
	}
	.link-video1{
		width: 64%;
	}
	.link-video1 h3{
		margin: 0;
		text-align: center;
		font-size: medium;
		width: 150px;
	}
	.video-container .link-video1 button{
		font-size: medium;
	}
	.link-video2{
		width: 64%;
	}
	.link-video2 h3{
		margin: 0;
		text-align: center;
		font-size: medium;
		width: 150px;
	}
	.video-container .link-video2 button{
		font-size: medium;
	}
	.nextprev{
		width: 69%;
		font-size: medium;
		gap: 20px;
	}
	.stream-deskripsi .imgdes{
		width: 70%;
	}
	.stream-deskripsi h3{
		width: 63.8%;
		font-size: large;
	}
	.stream-deskripsi .genrestatus{
		width: 63.8%;
		font-size: medium;
	}
	.stream-deskripsi text {
		width: 63.8%;;
		font-size: medium;
	}



	.footer{
		width: 68.5%;
	}
}
/*@media screen and (max-width: 768px){
	.navbar .menu.aktif{
		width: 400px;
		top: 195px;
	}
}*/



/* @media screen and (max-width: 768px){
	.wrap {
		height: 250vh;
		grid-template-rows:100px 60px 1800px 100px;
	}
	.navbar .menu {
		display: none;
	}
 
	.navbar .menu.aktif{
		display:inline-block;
		position: absolute;
		bottom: 200px;
		background: whitesmoke;
		padding: 10px 20px;
		right: 0;
		left: 0;
	}
 
	.navbar .menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
	}
 
	.navbar .tombol {
		display: block;
	}
	.content .container {
		grid-template-rows: 0.2fr 1700px;
	}
	.content .card .item {
	height: 200vh;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(5, 300px);
	}
	.content img {
	width: 100%;
	height: auto;
}



}
